.todo-field {
  margin: 2rem 0;
  display: flex;
  gap: 1rem;

  &__input {
    font-size: 1rem;
    padding: 0.5rem 1rem;
    border-radius: 0.25rem;
    border: 2px solid rgba(0, 0, 0, 0.6);
    outline: none;
    width: 100%;
    transition: 0.2s ease;

    &:focus {
      border-color: #4361ee;
      box-shadow: 0 0 0 4px hwb(229 26% 7% / 0.4);
    }
  }

  &__button {
    flex-shrink: 0;
    outline: none;
    padding: 0 1rem;
    border: none;
    color: #fff;
    font-weight: 500;
    background: #4361ee;
    font-size: 1rem;
    border-radius: 0.25rem;
    transition: 0.2s ease;

    &:focus {
      box-shadow: 0 0 0 4px hwb(229 26% 7% / 0.4);
    }

    svg {
      color: #fff;
      width: 1.5rem;
      height: 1.5rem;
    }
  }
}
